body {
    
    font-family: Arial, sans-serif;
    background-color:#f7a600;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    h2 {
        background-color: #7A572A; 
        color: white; 
        padding: 10px 20px; 
        text-align: center;
        border-radius: 10px;
        width: fit-content;
        margin: 20px auto;
        margin-bottom: 30px;
    }
    h3{
        background-color: #A8896E;
        color:white;
        padding:10px 20px;
        text-align: center;
        border-radius: 10px;
        width: fit-content;
        margin: 20px auto;
        margin-bottom: 30px;
    }
    h1{
        font-size: 32px;
    }
}

header {
    display: flex;
justify-content: space-between;
align-items: center;
background-color: #6c5336;
color: aliceblue;
text-align: center;
padding: 20px;
animation:fadeIn 1.5s ease-in-out;
justify-content: space-between;
}
.header-text {
    flex-grow: 1;
}
header h1 {
    font-size: 77px;
    margin: 0;
    position: relative;
    display: inline-block;
}
header p {
    font-size: 20px;
    margin-top: 40px;
    position: relative;
}
header h1::after, header p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #A8896E;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
header h1:hover::after, header p:hover::after {
    transform: scaleX(1);
}
header img {
    height: 250px;
    transition: filter 0.3s ease-in-out; 
}
header img:hover {
    filter: brightness(1.2);
}
nav{
    background-color: #A8896E;
    padding: 10px;
    text-align: center;
}
nav a{
    color:aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
footer{
    background-color: #6c5336;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 40px;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.tarjeta {
    background-color: white;
    border: 3px solid black;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.tarjeta img {
    width: 100px;
    margin-top: 10px;
}
.tarjeta:hover {
    transform: scale(1.05);
}
