body{
    
    font-family: Arial, sans-serif;
    background-color:#fdab25;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    h2 {
        text-align: center;
    }
    div p.especialll
    {
        text-align: center;
    }
    
}
header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #6c5336;
color: aliceblue;
text-align: center;
padding: 20px;
animation:fadeIn 1.5s ease-in-out;
justify-content: space-between;
}
.header-text {
    flex-grow: 1;
}
header h1 {
    font-size: 77px;
    margin: 0;
    position: relative;
    display: inline-block;
}
header p {
    font-size: 20px;
    margin-top: 40px;
    position: relative;
}
header h1::after, header p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #A8896E;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
header h1:hover::after, header p:hover::after {
    transform: scaleX(1);
}
header img {
    height: 250px;
    transition: filter 0.3s ease-in-out; 
}
header img:hover {
    filter: brightness(1.2);
}
nav{
    background-color: #A8896E;
    padding: 10px;
    text-align: center;
}
nav a{
    color:aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.carousel-container {
    width: 60%;
    max-width: 600px;
    height: 200px; 
    overflow: hidden; 
    position: relative;
    margin: auto; 
}


.carousel-images {
    display: flex;
    width: 100%; 
    height: 70%;
    animation: slide 16s infinite linear;
}


.carousel-images img {
    width: 50%;
    height: 70%;
    object-fit: cover; 
    flex-shrink: 0;
}


@keyframes slide {
    0% { transform: translateX(0); }
    16.66% { transform: translateX(-100%); }
    33.33% { transform: translateX(-200%); }
    50% { transform: translateX(-300%); }
    66.66% { transform: translateX(-400%); }
    83.33% { transform: translateX(-500%); }
    100% { transform: translateX(0); }
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    object-fit: contain;
}


footer{
    background-color: #6c5336;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 40px;
}